<div class="container">
    <div class="card border-success mb-3">
        <div class="card-header">
            <h4>Lista de Productos</h4>
        </div>
        <div class="card-body">
            <table class="table table-hover table-striped table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">CATEGORIA</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">TOTAL</th>
                        <th colspan="2">OPCIONES</th>
                    </tr>
                </thead>
                <tbody class="thead-light">
                    <tr *ngFor="let item of catalogoList; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.categoria }}</td>
                        <td>{{ item.precio }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>{{ item.total }}</td>
                        <td>
                            <a class="control btn btn-success" (click)="onEdit(item)">Editar</a>
                        </td>
                        <td>
                            <a class="control btn btn-danger" (click)="onDelete(item.$key)">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>