<form #alumnoForm="ngForm" (ngSubmit)="onSubmit(alumnoForm)">
    <h5>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
          </svg>
        Datos personales</h5>
    <div class="row">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="alumnoService.SelectAlumno.$key">
        <input class="form-control m-2 dat col-sm-4" type="text" placeholder="Nombres" name="nombres" [(ngModel)]="alumnoService.SelectAlumno.nombres" (input)="nombreAumno = $event.target.value">
        <input class="form-control m-2 dat col-sm-4" type="text" placeholder="Apellido Paterno"
        name="apPaterno" [(ngModel)]="alumnoService.SelectAlumno.apPaterno" (input)="apAlumno = $event.target.value">
        <input class="form-control m-2 dat col-sm-3" type="text" placeholder="Apellido Materno" name="apMaterno" [(ngModel)]="alumnoService.SelectAlumno.apMaterno" (input)="ap2Alumno = $event.target.value">
    </div>
    <div class="row">
        <input class="form-control m-2 dat col-sm-6" type="text" placeholder="DNI" name="dni" [(ngModel)]="alumnoService.SelectAlumno.dni">
        <input class="form-control m-2 dat col-sm-5" type="text" placeholder="Estado Civil" name="estadoCivil" [(ngModel)]="alumnoService.SelectAlumno.estadoCivil">
    </div>
    <div class="row">
        <input class="form-control m-2 dat col-sm-11" type="text" placeholder="Número  celular" name="numeroCelular" [(ngModel)]="alumnoService.SelectAlumno.numeroCelular">
    </div>
    <br>
    <br>
    <h5>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg>
        Domicilio</h5>
    <div class="row">
        <input class="form-control m-2 dat col-sm-4" type="text" placeholder="Departamento" name="departamento" [(ngModel)]="alumnoService.SelectAlumno.departamento">
        <input class="form-control m-2 dat col-sm-4" type="text" placeholder="Provincia" name="provincia" [(ngModel)]="alumnoService.SelectAlumno.provincia">
        <input class="form-control m-2 dat col-sm-3" type="text" placeholder="Distrito" name="distrito" [(ngModel)]="alumnoService.SelectAlumno.distrito">
    </div>
    <div class="row">
        <input class="form-control m-2 dat col-sm-6" type="text" placeholder="Dirección" name="direccion" [(ngModel)]="alumnoService.SelectAlumno.direccion">
        <input class="form-control m-2 dat col-sm-5" type="text" placeholder="Referencia" name="referencia" [(ngModel)]="alumnoService.SelectAlumno.referencia">
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary col-sm-12" (click)="botonEnviar()">Enviar Datos</button>
</form>
