<div class="container mt-3">
    <div class="row">
        <div class="col-sm-8">
            <app-practicas class=""></app-practicas>
        </div>
        <div class="col-sm-4">
            <app-horas></app-horas>
            <app-resumen></app-resumen>
        <button class="btn btn-primary col-sm-12" routerLink="./../nuevoPPP">
            <svg width="3em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
              </svg>
            Iniciar Proceso de Práctica
        </button>
        </div>
    </div>
</div>
