.cardm{
    text-align: center;
}
.estado{
    display: flex;
}
.card{
    border-radius: 20px;
}
.progress-circle {
    font-size: 20px;
    margin: 20px;
    position: relative; /* so that children can be absolutely positioned */
    padding: 0;
    width: 5em;
    height: 5em;
    background-color: #F2E9E1; 
    border-radius: 50%;
    line-height: 5em;
 }
 .botonn{
     border-radius: 20px;
 }
 .file{
    text-align: center
 }

