.navega{
  padding: 1% 7% 1% 7%;
}
.usuario{
  color: white;
}
.usuario2{
  color: white;
}
.notificaiones, .datos{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.noti, .dato{
  border-radius: 100px;
  font-size: 0.9em;
}